<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>

<section class="row">
  <section class="column">
    <h2>Input API Data Here</h2>
    <form action="/api" method="POST">
      <input type="text" placeholder="Move" name="move">
      <input type="text" placeholder="Position" name="position">
      <input type="text" placeholder="Attire" name="attire">
      <button type="submit">Submit</button>
      <button type="button" id="updateButton">Update</button>
    </form>
  </section>
  <section class="column">
    <h2>Current Moves</h2>
    <ul class="moves">
      <% for(let i=0; i < info.length; i++) {%>
        <li class="move">
          <span><%= info[i] %></span>
        </li>
      <% } %>
    </ul>
  </section>
</section>

<script type="text/javascript" src="main.js"></script>
</body>
</html>